<?xml version="1.0" encoding="UTF-8"?>

<suite name="FacebookAppSuite">

    <test name="Tests">
        <classes>
            <class name="MobileTesting.FacebookApp.Tests.LoginTest"/>
            <class name="MobileTesting.FacebookApp.Tests.PostTest"/>
            <class name="MobileTesting.FacebookApp.Tests.FriendsTest"/>
            <class name="MobileTesting.FacebookApp.Tests.EventTest"/>
          
        </classes>
    </test>


</suite>
